@use 'styles/variables';

.root {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  font-family: variables.$primary-font;
  padding: 0 20px;
  user-select: none;
}

.icon {
  display: block;
  width: 31px;
  margin: 4px auto;
  color: red;
}

.upwards {
  transform: rotate(180deg);
}
