@use 'styles/variables';

.root {
  display: inline-flex;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.availability {
  margin-bottom: 16px;
}

.availabilityTitle {
  color: #ffffff;
  line-height: 28px;
  font-size: 18px;
  margin-right: 6px;
}

.availabilityCurrent {
  color: #ffffff;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
}

.availabilityDivideSign {
  margin: 0 4px;
  font-size: 14px;
  line-height: 24px;
  color: #928263;
}

.availabilityMax {
  font-size: 14px;
  line-height: 24px;
  color: #e0c89a;
}

.inputContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #352200;
}

.dollarSign {
  font-family: variables.$secondary-font;
  margin-right: 12px;
  opacity: 0.8;
  height: 112px;
  font-size: 108px;
  color: #ff9900;
  user-select: none;
}

.input {
  width: 500px;
  height: 112px;
  font-size: 108px;
  background: transparent;
  border: none;
  outline: none;
  color: #ff9900;
  font-family: variables.$secondary-font;
  opacity: 0.8;
  user-select: none;

  &::placeholder {
    font-family: variables.$secondary-font;
    opacity: 0.33;
    line-height: 112px;
    font-size: 108px;
    color: #ff9900;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: transparent !important;
  }
}

.maxButton {
  display: block;
  width: 64px;
  height: 64px;
  padding: 0;
  background: none;
  border: none;
  color: #ff9900;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: variables.$primary-font;
  position: relative;
  user-select: none;

  &:hover > .maxButtonBackground {
    opacity: 0.2;
  }
}

.maxButtonBackground {
  display: block;
  color: #ff9900;
  position: absolute;
  pointer-events: none;
  width: 69px;
  height: 99px;
  z-index: -1;
  left: -1px;
  top: -26px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.subLeft {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  font-weight: 300;

  strong {
    font-weight: 600;
    margin-left: 6px;
  }
}

.subRight {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #928263;

  strong {
    font-weight: 600;
    margin-right: 6px;
  }
}

.submit {
  display: block;
  width: 224px;
  height: 72px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  color: #0a0600;
  font-family: variables.$primary-font;
  border: none;
  margin-top: 3px;
  font-weight: 600;
  background: none;
  margin-left: 16px;
  position: absolute;
  left: 100%;
  user-select: none;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    .submitBtnL1 {
      color: #ffbb00;
    }

    .glowEffect {
      box-shadow: 0 0 50px 0px #ff9900;
    }
  }

  &.approving,
  &.minting {
    .submitBtnL1 {
      animation: color 3s ease-in-out infinite;
    }
    .glowEffect {
      box-shadow: 0 0 50px 0px #ff9900;
    }
  }
}

.submitBtnL1 {
  width: 224px;
  height: 72px;
  color: #ff9900;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  left: 0;
  top: -4px;
  transition: 0.3s;
}

.submitBtnL2 {
  width: 238px;
  height: 109px;
  color: #ff9900;
  opacity: 0.4;
  position: absolute;
  pointer-events: none;
  z-index: -2;
  left: -3px;
  top: -18px;
}

.submitBtnL3 {
  width: 233px;
  height: 80px;
  color: #ff9900;
  opacity: 0.1;
  position: absolute;
  pointer-events: none;
  z-index: -3;
  top: -2px;
  left: -2px;
}

.glowEffect {
  pointer-events: none;
  transition: 0.3s;
  position: absolute;
  width: 100px;
  height: 50px;
  z-index: -4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px 0px #ff9900;
  }
  50% {
    box-shadow: 0 0 50px 0px #ff9900;
  }
  100% {
    box-shadow: 0 0 0px 0px #ff9900;
  }
}

@keyframes color {
  0% {
    color: #ff9900;
  }
  50% {
    color: #ffbb00;
  }
  100% {
    color: #ff9900;
  }
}
