.root {
  position: relative;
  z-index: 1;
  padding: 0 100px;
  min-width: 1200px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-image: url('../../images/noise-background.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

  &:before {
    content: '';
    display: block;
    width: 50vw;
    height: 100%;
    background-image: url('../../images/background-left-side.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &:after {
    content: '';
    display: block;
    width: 50vw;
    height: 100%;
    background-image: url('../../images/background-left-side.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    pointer-events: none;
  }
}

.main {
  flex: 1;
  display: flex;
  align-items: stretch;
}
