@use 'styles/variables';

.root {
  --gap: 8px;

  &.rarefied {
    --gap: 16px;
  }
}

.header {
  > tr > th {
    padding: 0 20px 10px;
    color: #54b420;
    font-family: variables.$primary-font;
    font-size: 12px;
    line-height: 20px;
    text-align: left;

    &.right {
      text-align: right;
    }
  }
}

.body {
  > tr > td {
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: variables.$primary-font;
    font-weight: 300;
    padding: var(--gap) 20px;
    text-align: left;

    &.right {
      text-align: right;
    }

    > time {
      color: #928263;
      margin-left: 8px;
    }
  }
}
