@use 'styles/variables';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px;
}

.musicContainer {
  flex: 1 1 20%;
}

.scrollContainer {
  flex: 10 1 auto;
  display: flex;
  justify-content: center;
}

.music {
  display: flex;
  align-items: center;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  font-family: variables.$primary-font;
  padding: 0;
}

.musicWave {
  width: 24px;
  height: 24px;
  color: #ff9900;
  margin-right: 6px;
}

.scroll {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  font-family: variables.$primary-font;
  padding: 0 20px;
}

.scrollIcon {
  display: block;
  width: 31px;
  margin: 4px auto 0;
  color: #ff9900;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 20%;
}

.socialLinks {
  display: flex;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #ffffff;
}

.socialIcon {
  width: 18px;
  height: 18px;
}
