@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&family=Road+Rage&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #0a0600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  /*-moz-transform: scale(1.05);!* Firefox Property *!*/
  /*-moz-transform-origin: 0 0;*/
  /*-o-transform: scale(1.05);!* Opera Property *!*/
  /*-o-transform-origin: 0 0;*/
  /*-webkit-transform: scale(1.05);!* Safari Property *!*/
  /*-webkit-transform-origin: 0 0;*/
  /*transform: scale(1.05); !* Standard Property *!*/
  /*transform-origin: 0 0;  !* Standard Property *!*/
  /*zoom: 1.05;*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
