.root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 30px;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 20%;
}

.content {
  flex: 3 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.mintContainer {
  flex: 1;
  display: flex;
  padding: 40px 0 40px;
}

.fakeCol {
  flex: 1 1 20%;
  min-width: 224px;
}

.not {
  position: absolute;
  right: 0;
  top: 200px;
}

.not1 {
  position: absolute;
  right: 0;
  top: 280px;
}

.not2 {
  position: absolute;
  right: 0;
  top: 350px;
}
