.root {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
}

.carousel {
  height: calc(100vh - 241px);
}

.slide {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 20%;
}

.content {
  flex: 3 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //height: 100%;
  margin-top: 80px;
}
.videoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  //align-self: center;
  margin: 50px auto 0 100px;
  width: 100%;
  max-height: 280px;
}

.mintContainer {
  flex: 1;
  display: flex;
  padding: 10px 0 10px;
}

.fakeCol {
  flex: 1 1 20%;
  min-width: 240px;
}

.not {
  position: absolute;
  right: 0;
  top: 200px;
}

.not1 {
  position: absolute;
  right: 0;
  top: 280px;
}

.not2 {
  position: absolute;
  right: 0;
  top: 350px;
}

.scrollAssist {
  height: 48px;
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(100% + 30px);
  left: 50%;
  transform: translateX(-50%);
}

.tableSlide {
  display: flex;
  width: 100%;
  max-height: 100%;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}

.tableWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
}

.tableSlideTitle {
  padding: 34px 20px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
}
